# Data preperation

### Here you can find information about the data preperation of the "used car prices"-dataset

# Conclusion:


* ratingprice and sellingprice have a very high correlation, therefore I would remove the column "ratingprice" from the dataset.
* code is not necessary, therefore I would remove the column "code" from the dataset.
* saledate is also unnecessary, therefore I would remove the column "saledate" from the dataset.

* there are almost only automatic cars in "drivetrain" - not sure if I need this column for my model

### Load packages

In [2]:
import pandas as pd
import numpy as np

In [3]:
# import dataset and save it as df

df = pd.read_csv("car_prices.csv", on_bad_lines="skip")

In [4]:
# drop missing vales (dataset is still big enough)

df = df.dropna()

In [5]:
# rename colums for better understanding (as described above)

df = df.rename(columns={
"make" : "brand",
"body" : "type",
"trim" : "version",
"transmission" : "drivetrain",
"vin" : "code",
"odometer" : "miles",
"mmr" : "ratingprice"} 
    )

In [6]:
# transform into lowercase

df["brand"] = df["brand"].str.lower()
df["model"] = df["model"].str.lower()
df["type"] = df["type"].str.lower()
df["drivetrain"] = df["drivetrain"].str.lower()
df["state"] = df["state"].str.lower()
df["version"] = df["version"].str.lower()
df["color"] = df["color"].str.lower()
df["interior"] = df["interior"].str.lower()
df["seller"] = df["seller"].str.lower()

In [7]:
# transform into categorial variables

for cat in ["year", "brand", "model", "version", "type", "drivetrain", "code", "state", "condition", "color", "interior", "seller", "saledate"]:
    df[cat] = df[cat].astype("category")

In [8]:
# drop irrelevant features

df = df.drop(["code", "ratingprice", "saledate"], axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472336 entries, 0 to 558810
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472336 non-null  category
 1   brand         472336 non-null  category
 2   model         472336 non-null  category
 3   version       472336 non-null  category
 4   type          472336 non-null  category
 5   drivetrain    472336 non-null  category
 6   state         472336 non-null  category
 7   condition     472336 non-null  category
 8   miles         472336 non-null  float64
 9   color         472336 non-null  category
 10  interior      472336 non-null  category
 11  seller        472336 non-null  category
 12  sellingprice  472336 non-null  int64
dtypes: category(11), float64(1), int64(1)
memory usage: 17.5 MB

In [10]:
df.head()

,year,brand,model,version,type,drivetrain,state,condition,miles,color,interior,seller,sellingprice
0,2015,kia,sorento,lx,suv,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",21500
1,2015,kia,sorento,lx,suv,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",21500
2,2014,bmw,3 series,328i sulev,sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),30000
3,2015,volvo,s60,t5,sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27750
4,2014,bmw,6 series gran coupe,650i,sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),67000